{namespace n=Tx_News_ViewHelpers}
{namespace grouped=Tx_NewsGroupedByDate_ViewHelpers}

<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
        
	<f:if condition="{news}">
		<f:then>

			<f:if condition="{settings.templateLayout} == 100">

				<f:then>
					<!-- Home list view -->
					<div class="home news-list-view">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem">
									<f:render partial="Home/Item" arguments="{newsItem: newsItem, settings:settings}" />
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">
									<f:for each="{paginatedNews}" as="newsItem">
										<f:render partial="Home/Item" arguments="{newsItem: newsItem, settings:settings}" />
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</div>
				</f:then>
			
			</f:if>

			<f:if condition="{settings.templateLayout} == 200">
				<f:then>
					<!-- Grouped by year list view -->
	                <div class="itemsListYearMonth">
	                        <grouped:groupedForDateTime each="{news}" as="groupedNews" groupBy="datetime" format="Y" groupKey="year">
	                                <h1>
	                                        {year}
	                                </h1>
	                                <grouped:groupedForDateTime each="{groupedNews}" as="itemsByYear" groupBy="datetime" format="m" dateTimeKey="byMonth">
	                                        <f:for each="{itemsByYear}" as="item">
	                                                <div class="item">
	                                                        <f:render partial="List/Item" arguments="{newsItem: item, settings:settings}" />
	                                                </div>
	                                        </f:for>
	                                </grouped:groupedForDateTime>
	                        </grouped:groupedForDateTime>
	                </div>
				</f:then>
			</f:if>

			<f:if condition="{settings.templateLayout} == '' ">
				<f:then>
	                <!-- Default list view with optional pagebrowser -->
					<div class="list news-list-view">
						<f:if condition="{settings.hidePagination}">
							<f:then>
								<f:for each="{news}" as="newsItem">
									<!-- NO Pagebrowser -->
									<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />
								</f:for>
							</f:then>
							<f:else>
								<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}">	
									<f:for each="{paginatedNews}" as="newsItem">
											<!-- Pagebrowser -->
											<f:render partial="List/Item" arguments="{newsItem: newsItem, settings:settings}" />
									</f:for>
								</n:widget.paginate>
							</f:else>
						</f:if>
					</div>
				</f:then>
			</f:if>

		</f:then>
    </f:if>

</f:section>
