<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
		  
{namespace cx=vendor\NewsEventfields\ViewHelpers}
<f:layout name="General" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
        
	<f:if condition="{news}">
		<f:then>
		
			<f:switch expression="{settings.templateLayout}">
				<f:case value="100">
					<!-- Home list view, grouped by year, no pagination, modified partials -->
					<cx:groupedForDateTime each="{news}" as="newsitemsbyYears" groupBy="datetime" format="%Y" groupKey="year" dateTimeKey="yearKey">
						<h2 class="byYears"><strong>{year}</strong></h2>
						<f:for each="{newsitemsbyYears}" as="item">
							<f:render partial="List/Home" arguments="{newsItem: item,settings:settings,iterator:iterator}" />
						</f:for>
					</cx:groupedForDateTime>
				
				</f:case>
				
				<f:case value="200">
					<f:if condition="{settings.hidePagination}">
						<f:then>
							<!-- Standard grouped by year list view, modified partials -->
							<cx:groupedForDateTime each="{news}" as="newsitemsbyYears" groupBy="datetime" format="%Y" groupKey="year" dateTimeKey="yearKey">
								<h2 class="byYears"><strong>{year}</strong></h2>
								<f:for each="{newsitemsbyYears}" as="item">
									<f:render partial="List/Event" arguments="{newsItem: item,settings:settings,iterator:iterator}" />
								</f:for>
							</cx:groupedForDateTime>
						</f:then>
						
						<f:else>
							<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
								<cx:groupedForDateTime each="{paginatedNews}" as="newsitemsbyYears" groupBy="datetime" format="%Y" groupKey="year" dateTimeKey="yearKey">
									<h2 class="byYears"><strong>{year}</strong></h2>
									<f:for each="{newsitemsbyYears}" as="item">
										<f:render partial="List/Event" arguments="{newsItem: item,settings:settings,iterator:iterator}" />
									</f:for>
								</cx:groupedForDateTime>
							</n:widget.paginate>
						</f:else>
					</f:if>
				</f:case>
				
				
				<f:case default="TRUE">
					<!-- Standard partials -->
					<f:if condition="{settings.hidePagination}">
						<f:then>
							<f:for each="{news}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
						</f:then>
						<f:else>
							<n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
							<f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
								<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
							</f:for>
							</n:widget.paginate>
						</f:else>
					</f:if>
				</f:case>
			</f:switch>

		</f:then>
		<f:else>
			<div class="no-news-found">
				<f:translate key="list_nonewsfound" />
			</div>
		</f:else>
    	</f:if>

</f:section>
